html{
    margin: 0;
    height: 100%;
    padding: 0%;
}

.img-perfil{
    width: 200px;
    border-radius: 55%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0%;
}

#container{
    height: 100%;
    background-color: #DCD7CA;
}

#nav-br{
    height: 20%;
    
}

#cadastro{
    height: 80%;
    background-color: black;
}